<!-- special models -->
	<div class="agileits-w3layouts-specials" id="models">
		<h3>What You Can Do ?</h3>
		<span></span>
		<div class="special-grids">
			<div class="col-md-6 special-left l-grids">
				<figure class="effect-bubba">
					<img src="images/twitter.jpg" alt="">
					<figcaption>
						<h4>一键生成词云</h4>
						<p>de-cloud提供的无重叠定位的布局算法结合JavaScript绘制的隐形画布元素</p>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6 special-left l-right l-grids">
				<figure class="effect-bubba">
					<img src="images/" alt="/">
					<figcaption>
						<h4>强烈立体感的报表</h4>
						<p>通过对echarts的封装提供个性化报表的设计</p>
					</figcaption>
				</figure>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="where-spl">
			<div class="col-md-6 special-left l-right l-grids">
				<figure class="effect-bubba">
					<img src="images/" alt="/">
					<figcaption>
						<h4>三维立方体</h4>
						<p>基于matplotlib numpy scipy PIL wordcloud和jieba的免费的在线生成词云</p>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6 special-left l-right l-grids">
				<figure class="effect-bubba">
					<img src="images/zhouqi.gif" alt="/">
					<figcaption>
						<h4>3D元素周期表</h4>
						<p>提供WebGL的接口，基于three.js实现各种狂拽酷炫吊炸天的特效</p>
					</figcaption>
				</figure>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- special models-->

	<!--services-->
	<div id="services" class="services">
		<!-- container -->
		<div class="container">
			<h3 class="title wow zoomInLeft animated" data-wow-delay=".5s">Practice</h3>
			<div class="services-row">
				<div class="col-md-3 services-grid services-grid1">
					<span class="glyphicon glyphicon-check effect-1" aria-hidden="true"></span>
					<div class="services-text">
						<h4>wordcloud</h4>
						<p></p>
					</div>
				</div>
				<div class="col-md-3 services-grid services-grid1">
					<span class="glyphicon glyphicon-user effect-1" aria-hidden="true"></span>
					<div class="services-text">
						<h4>three.js</h4>
						<p></p>
					</div>
				</div>
				<div class="col-md-3 services-grid services-grid2">
					<span class="glyphicon glyphicon-heart-empty effect-1" aria-hidden="true"></span>
					<div class="services-text">
						<h4>echarts</h4>
						<p></p>
					</div>
				</div>
				<div class="col-md-3 services-grid services-grid2">
					<span class="glyphicon glyphicon-bookmark effect-1" aria-hidden="true"></span>
					<div class="services-text">
						<h4>snap.js</h4>
						<p></p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!--//container-->
	</div>
	<!--//services-->